@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model RegisterViewModel
@{
    ViewData["Title"] = localizer["Register_Title"];
    Layout = "_Login";
    ViewBag.HaveTitle = true;
}

<div class="row">
    <div class="col-md-5 ml-auto">
        <div class="media">
            <div class="media-left">
                <div class="icon">
                    <i class="nc-icon nc-circle-09"></i>
                </div>
            </div>
            <div class="media-body">
                <h4>@localizer["Register_FeatureDescription_Title"]</h4>
                <p>@localizer["Register_FeatureDescription_Detail"]</p>
            </div>
        </div>
    </div>
    <div class="col-md-5 ml-auto">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="@localizer["Register_Email_Placeholder"]" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="@localizer["Register_Password_Placeholder"]" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="@localizer["Register_ConfirmPassword_Placeholder"]" />
            </div>
            <button type="submit" class="btn btn-fill btn-neutral btn-wd">@localizer["Register_CreateAccount_Button"]</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
