@inject IViewLocalizer localizer
@model AccountMovementImportViewModel

@{
    ViewBag.Title = ModulesNames.MyFinance;
}
<div class="col-md-12">
    <div class="card strpied-tabled-with-hover">
        <div class="card-header ">
            <h4 class="card-title">@localizer["Title"] - @Model.ImportType</h4>
            <p class="card-category text-right">
                @if (Model.Items.Count == 0)
                {
                    @localizer["EveryRowWasAlreadyImported"]
                }
                else
                {
                    @localizer["SomeRowsMayBeExcludedDueToAlreadyBePresent"]
                }
            </p>
        </div>
        <div class="card-body table-full-width table-responsive">

            <table class="table table-striped dataTable">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(x => x.Items.First().MovementDate)</th>
                        <th>@Html.DisplayNameFor(x => x.Items.First().Description)</th>
                        <th>@Html.DisplayNameFor(x => x.Items.First().Amount)</th>
                        <th class="no-sort"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AccountMovementReviewListItemViewModel item in Model.Items)
                    {
                        <tr>
                            <td data-toggle="tooltip" data-placement="right" title="@Html.DisplayNameFor(x => x.Items.First().ValueDate): @item.ValueDate.ToShortDateString()">@item.MovementDate.ToShortDateString()</td>
                            <td>@item.Description</td>
                            <td>@item.Amount.ConvertToCurrency("€")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="@Url.Action(nameof(MyFinanceController.ListAccounts))" class="btn btn-sm btn-default btn-outline" data-toggle="tooltip" data-placement="top" title="@localizer["ReturnButton"]">
                <span class="btn-label">
                    <i class="fa fa-arrow-left"></i>
                </span>
            </a> &nbsp;
        </div>
    </div>
</div>