@inject IViewLocalizer localizer
@model AccountMovementListViewModel

@{
    ViewBag.Title = ModulesNames.MyFinance;
}
<div class="col-md-12">
    <div class="card strpied-tabled-with-hover">
        <div class="card-header ">
            <h4 class="card-title">@localizer["Title"] - @Model.Name</h4>
            <p class="card-category text-right">

            </p>
        </div>
        <div class="card-body table-full-width table-responsive">

            <table class="table table-striped dataTable no-sort">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(x => x.Items.First().MovementDate)</th>
                        <th>@Html.DisplayNameFor(x => x.Items.First().Description)</th>
                        <th>@Html.DisplayNameFor(x => x.Items.First().Amount)</th>
                        <th>@Html.DisplayNameFor(x => x.Items.First().TotalBalanceAfterMovement)</th>
                        <th class="no-sort"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AccountMovementListItemViewModel item in Model.Items)
                    {
                        <tr>
                            <td data-toggle="tooltip" data-placement="right" title="@Html.DisplayNameFor(x => x.Items.First().ValueDate): @item.ValueDate.ToShortDateString()">@item.MovementDate.ToShortDateString()</td>
                            <td>
                                @item.Description
                            </td>
                            <td>@item.Amount.ConvertToCurrency("€")</td>
                            <td>@item.TotalBalanceAfterMovement.ConvertToCurrency("€")</td>
                            <td class="no-sort">
                                <a class="text-left btn btn-sm" data-toggle="tooltip" data-placement="top" title="@localizer["Edit"]" asp-action="AddOrEditMovement" asp-route-id="@item.Id" asp-route-bankAccountId="@Model.Id"><i class="fa fa-edit"></i></a> &nbsp;
                                <a class="text-left btn btn-sm" data-toggle="tooltip" data-placement="top" title="@localizer["SetCategoriesToBankAccount"]" asp-action="SetCategoriesToBankAccount" asp-route-id="@item.Id" asp-route-bankAccountId="@Model.Id"><i class="fa fa-tags"></i></a> &nbsp;
                                <a class="text-left btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="@localizer["Delete"]" asp-action="DeleteMovement" asp-route-id="@item.Id" asp-route-bankAccountId="@Model.Id"><i class="fa fa-trash"></i></a> &nbsp;

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="@Url.Action(nameof(MyFinanceController.ListAccounts))" class="btn btn-sm btn-default btn-outline" data-toggle="tooltip" data-placement="top" title="@localizer["ReturnButton"]">
                <i class="fa fa-arrow-left"></i>
            </a> &nbsp;
            <a class="text-left btn btn-sm btn-info btn-outline btn-fill" asp-action="AddOrEditMovement" asp-route-bankAccountId="@Model.Id" data-toggle="tooltip" data-placement="top" title="@localizer["Add"]">
                <i class="fa fa-plus"></i>
            </a>  &nbsp;
            <a class="text-left btn btn-sm" data-toggle="tooltip" data-placement="top" title="@localizer["ImportMovements"]" asp-action="ImportMovements" asp-route-bankAccountId="@Model.Id">
                <i class="fa fa-file-import"></i>
            </a> &nbsp;
        </div>
    </div>
</div>