<head>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="76x76" href="~/lib/lbd/media/apple-icon.png">
    <link rel="icon" type="image/png" href="~/lib/lbd/media/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.AppName - @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/lbd/css/index.css" />
    <link rel="stylesheet" href="~/lib/app.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-wrapper">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    @ViewBag.AppName
                </a>
            </div>


            <div class="collapse navbar-collapse justify-content-end" id="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item  active ">
                        <a href="@Url.Action("Register")" class="nav-link">Register</a>
                    </li>
                    <li class="nav-item ">
                        <a href="@Url.Action("Login")" class="nav-link">Login</a>
                    </li>
                </ul>
            </div>


        </div>
    </nav>
    <div class="full-page register-page section-image" data-color="black" data-image="/media/bg1.jpg">
        <div class="content">
            <div class="container">
                <div class="card card-register card-plain text-center">
                    @if (ViewBag.HaveTitle != null && (bool)ViewBag.HaveTitle)
                    {
                        <div class="card-header ">
                            <div class="row  justify-content-center">
                                <div class="col-md-8">
                                    <div class="header-text">
                                        <h2 class="card-title">@ViewBag.Title</h2>
                                        @*<h4 class="card-subtitle">@ViewBag.Title</h4>*@
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="card-body">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="version badge badge-danger">v:@ViewBag.Version</div>
    <script type="text/javascript" src="~/lib/jquery/js/jquery.3.2.1.min.js"></script>
    <script type="text/javascript" src="~/lib/popper/js/popper.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-switch/js/bootstrap-switch.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.GoogleMapKey"></script>
    <script type="text/javascript" src="~/lib/chartist/js/chartist.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-notify/js/bootstrap-notify.js"></script>
    <script type="text/javascript" src="~/lib/lbd/js/lbd.js"></script>
    <script type="text/javascript" src="~/lib/app.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>