@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IViewLocalizer localizer
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<nav class="navbar navbar-expand-lg" color-on-scroll="500">
    <div class="container-fluid">
        <a class="navbar-brand"> @ViewBag.Title </a>
        <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="@localizer["Toggle_navigation"]">
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
            <span class="navbar-toggler-bar burger-lines"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav ml-auto">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <i class="fas fa-user-tie"></i>
                            <span class="d-lg-block">&nbsp;@localizer["Account_Link"]</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-action="Index" asp-controller="Manage">
                                    <i class="fas fa-user-tie"></i>
                                    <span class="">&nbsp;@localizer["Profile_Link"]</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Manage">
                                    <i class="fas fa-unlock"></i>
                                    <span class="">&nbsp;@localizer["Password_Link"]</span>
                                </a>
                            </li>
                            @if (hasExternalLogins)
                            {
                                <li>
                                    <a class="dropdown-item" asp-action="ExternalLogins" asp-controller="Manage">@localizer["External_logins_Link"]</a>
                                </li>
                            }
                            <li>
                                <a class="dropdown-item" asp-action="TwoFactorAuthentication" asp-controller="Manage">
                                    <i class="fas fa-user-cog"></i>
                                    <span class="">&nbsp;@localizer["TwoStepAuth_Link"]</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                            <button type="submit" class="nav-link btn-link">
                                <i class="fas fa-power-off"></i>
                                <span class="">&nbsp;@localizer["Logout_Link"]</span>
                            </button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register"><span class="no-icon">@localizer["Register_Link"]</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login"><span class="no-icon">@localizer["Login_Link"]</span></a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>