@model EnableAuthenticatorViewModel
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Title"];//"Enable authenticator";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@ViewBag.Title</h4>
            </div>
            <div class="card-body">
                <p>@localizer["AuthenticatorAppInstructions"]</p>
                <ol class="list">
                    <li>
                        <p>
                            @localizer["Download2faApp"]
                        </p>
                    </li>
                    <li>
                        <p>@localizer["ScanQRCode", Model.SharedKey]</p>
                        <div id="qrCode"></div>
                        <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
                    </li>
                    <li>
                        <p>
                            @localizer["EnterCodeOnConfirmation"]
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <form method="post">
                                    <div class="form-group">
                                        <label asp-for="Code" class="control-label">@localizer["VerificationCode"]</label>
                                        <input asp-for="Code" class="form-control" autocomplete="off" />
                                        <span asp-validation-for="Code" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="btn btn-default">@localizer["Verify"]</button>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </form>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript" src="~/lib/qrcode.js"></script>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.AuthenticatorUri)",
                width: 150,
                height: 150
            });
    </script>
}

<style>
    div#qrCode img {
        margin-left: 35%;
    }
</style>
