@model BarChartViewModel

@{
    var name = Guid.NewGuid().ToString().Replace("-", "");

    var minDate = Model.MinDate.ToShortDateString();
    var maxDate = Model.MaxDate.ToShortDateString();

    var visible = Model.Items.Any();
}
@if (visible)
{
    <div class="col-xl-6 col-md-12 col-lg-6 col-sm-12">
        <div class="card ">

            <div class="card-header ">
                <h4 class="card-title">Movimentos por Categorias</h4>
                <p class="card-category">Resumo por categoria [@minDate - @maxDate]</p>
            </div>
            <div class="card-body ">
                <canvas id="@name"></canvas>

            </div>
        </div>
    </div>
    @Html.Script(
        @<script type="text/javascript">
             $(document).ready(function () {
                 new Chart($("#@name"), config_@name);
             });

            var config_@name = {
                 type: 'horizontalBar',
                 data: {
                     labels: @Html.Raw(Json.Serialize(Model.Items.Select(x => x.Label).Distinct())),
                     datasets: [@foreach (var a in Model.Items.GroupBy(x => x.Group))
                     {
                         <text>
                         {
                             label: '@Html.Raw(a.Key.ToString())',
                             data: @Html.Raw(Json.Serialize(Model.Items.GroupBy(x => x.Label).Select(x => x.Sum(q => q.Group == a.Key ? q.Value : 0)))),
                             backgroundColor: @Html.Raw(Json.Serialize(a.Max(z => z.Color))),
                             lineTension: 0.1,
                         },
                         </text>
                     }]
                }, options: {
                    legend: {
                        display:false,
                    },
                    scales: {
                         xAxes: [{
                             stacked: true
                         }],
                         yAxes: [{
                             stacked: true
                         }]
                     },
                    plugins: {
                         filler: {
                             propagate: true
                         }
                     },
					tooltips: {
						mode: 'index',
						intersect: false
					},
					responsive: true
				}
             };


        </script>)
}